body {
  background: #242424;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
@property --rotation {
  syntax: "<angle>";
  inherits: false;
  initial-value: 45deg;
}
.glowing_btn {
  position: relative;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
.glowing_btn::after,
.glowing_btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: calc(100% + 3px);
  width: calc(100% + 3px);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: -1;
  background-image: linear-gradient(
    var(--rotation),
    red,
    hotpink,
    orange,
    yellow
  );
}
.glowing_btn::before {
  filter: blur(15px);
}
.glowing_btn:hover::before,
.glowing_btn:hover::after {
  animation: rotation 4s linear infinite;
}

.glowing_btn:active {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

@keyframes rotation {
  from {
    --rotation: 0deg;
  }
  to {
    --rotation: 360deg;
  }
}
.card {
  width: 250px;
  height: 250px;
  background: #fff;
}
